
@import "../styles/_variables.scss";

#prop-manager {

    .room-card {
        width: 18rem;
        border-width: 0;

        .card-body {
           padding-left: 0;
           padding-right: 0; 
        }

        .address {
            font-weight: normal;

        }

        .room-card-subsection {
            padding-top: 20px;
        }

        p { 
            margin-bottom: 5px;}        
        
        span { 
            padding-left: 5px;
        }

    }
}







